<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela inicial</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h3>IT Manager Simulator</h3>
    <div class="container">
        <div class="btn">
            <button id="jogar"><a href="jogo.html">JOGAR</a></button>
            <button id="ajuda"><a href="ajuda.html">COMO JOGAR</a></button>
        </div>
    </div>
</body>

</html>