<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogo</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <script src="script/script.js" defer></script>


    <div class="boards">

        <div class="board">
            <h3>Não</h3>
            <div class="dropzone" id="nao">
            </div>
        </div>

        <div class="board">
            <h3>Cartas</h3>
            <div class="dropzone" id="inicio">
                <div class="card" draggable="true">
                    <div class="content">
                        <img src="img/Peso1e2.png" alt="">
                        <div class="text">Fingindo criar uma perguntar para testar como fica a formatação do
                            texto no card para depois
                            editar no css.</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="board">
            <h3>Sim</h3>
            <div class="dropzone" id="sim">
            </div>
        </div>

    </div>
    <div>
        <h2 class="dinheiro">DINHEIRO:<p id="dinheiro"></p>
        </h2>
        <h2 class="pontuacao">PONTUAÇÃO:<p id="pontuação"></p>
        </h2>
    </div>

</body>

</html>